html {
  font-size: 62.5%;
}
body {
  position: relative;
  min-height: 100%;
  line-height: 1.1;
  color: #000;
  font-family: 'Noto Sans KR', sans-serif, Apple Gothic;
}

/*  Media Query */

/* Tablet */
@media only screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }
}

/* Phone */
@media only screen and (max-width: 320px) {
  html {
    font-size: 8px;
  }
}
* {
  word-break: break-word;
  font-size: 1.3rem;
  font-family: 'Noto Sans KR', sans-serif, Apple Gothic;
}
* {
  -webkit-text-size-adjust: none;
  word-break: break-all;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  resize: none;
  outline: 0;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p,
blockquote,
pre,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
figure,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
a,
textarea,
input,
select,
option,
button,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
a:link {
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
b {
  font-weight: 700;
}
strong {
  font-weight: 400;
  vertical-align: middle;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-weight: 400;
}
abbr,
acronym,
img,
button {
  border: 0;
}
pre {
  white-space: pre-wrap;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -1em;
}
sub {
  bottom: -0.25em;
}
ul,
ol,
li {
  list-style: none;
}
figure {
  margin: 0;
}
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  border: 0 none;
  outline: 0 none;
  background-color: #fff;
}
textarea {
  vertical-align: top;
  border: solid 1px #ccc;
}
table {
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0;
  table-layout: fixed;
}
table caption,
fieldset legend {
  display: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}

.block {
  display: block !important;
}
.normal {
  font-weight: normal !important;
}
.bold {
  font-weight: bold !important;
}

.none {
  display: none !important;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.w100p,
.full {
  width: 100% !important;
}
.h100p {
  height: 100% !important;
}
::-webkit-input-placeholder {
  color: #666;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: end;
}

.ml {
  margin: 4rem;
}

.mm {
  margin: 3rem;
}

.m {
  margin: 1.5rem;
}

.ms {
  margin: 1rem;
}

.mxl {
  margin: 0 4rem;
}

.mxm {
  margin: 0 3rem;
}

.mx {
  margin: 0 1.5rem;
}

.mxs {
  margin: 0 1rem;
}

.myl {
  margin: 4rem 0;
}

.mym {
  margin: 3rem 0;
}

.my {
  margin: 1.5rem 0;
}

.mys {
  margin: 1rem 0;
}

.pl {
  padding: 4rem;
}

.pm {
  padding: 3rem;
}

.p {
  padding: 1.5rem;
}

.ps {
  padding: 1rem;
}

.pxl {
  padding: 0 4rem;
}

.pxm {
  padding: 0 3rem;
}

.px {
  padding: 0 1.5rem;
}

.pxs {
  padding: 0 1rem;
}

.pyl {
  padding: 4rem 0;
}

.pym {
  padding: 3rem 0;
}

.py {
  padding: 1.5rem 0;
}

.pys {
  padding: 1rem 0;
}

.cron-daily-form {
  margin: 0 50px;
}

.cron-daily-form__header {
  background-color: grey;
  padding: 10px;
  text-align: center;
}

.cron-daily-form__radiocontainer {
  display: flex;
  justify-content: center;
  background: #eee;
  padding: 20px;
}

.cron-daily-form__radiobox {
  width: 800px;
  background: grey;
  padding: 20px;
}

.cron-daily-form__radiowrapper {
  display: flex;
  justify-content: center;
}

.cron-daily-form__radio {
  margin: 15px 0;
}

/* The container */
.cron-radio__container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.cron-radio__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.cron-radio__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.cron-radio__container:hover input ~ .cron-radio__checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.cron-radio__container input:checked ~ .cron-radio__checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.cron-radio__checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.cron-radio__container input:checked ~ .cron-radio__checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.cron-radio__container .cron-radio__checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* indicator */
.cron-indicator__container {
  margin: 4rem;
  background: skyblue;
}
