.ml {
  margin: 4rem;
}

.mm {
  margin: 3rem;
}

.m {
  margin: 1.5rem;
}

.ms {
  margin: 1rem;
}

.mxl {
  margin: 0 4rem;
}

.mxm {
  margin: 0 3rem;
}

.mx {
  margin: 0 1.5rem;
}

.mxs {
  margin: 0 1rem;
}

.myl {
  margin: 4rem 0;
}

.mym {
  margin: 3rem 0;
}

.my {
  margin: 1.5rem 0;
}

.mys {
  margin: 1rem 0;
}

.pl {
  padding: 4rem;
}

.pm {
  padding: 3rem;
}

.p {
  padding: 1.5rem;
}

.ps {
  padding: 1rem;
}

.pxl {
  padding: 0 4rem;
}

.pxm {
  padding: 0 3rem;
}

.px {
  padding: 0 1.5rem;
}

.pxs {
  padding: 0 1rem;
}

.pyl {
  padding: 4rem 0;
}

.pym {
  padding: 3rem 0;
}

.py {
  padding: 1.5rem 0;
}

.pys {
  padding: 1rem 0;
}

.global {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.global iframe,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p,
blockquote,
pre,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
figure,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
a,
textarea,
input,
select,
option,
button,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.global,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

button {
  font-style: normal;
  font-feature-settings: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 10px;
}

.daily-form {
  margin: 0 50px;
}

.daily-form__header {
  background-color: grey;
  padding: 10px;
  text-align: center;
}

.daily-form__radiocontainer {
  display: flex;
  justify-content: center;
  background: #eee;
  padding: 20px;
}

.daily-form__radiobox {
  width: 800px;
  background: grey;
  padding: 20px;
}

.daily-form__radiowrapper {
  display: flex;
  justify-content: center;
}

.daily-form__radio {
  margin: 15px 0;
}

/* The container */
.radio__container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio__container:hover input ~ .radio__checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio__container input:checked ~ .radio__checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio__checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio__container input:checked ~ .radio__checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio__container .radio__checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* indicator */

.dashboard {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 5em;
  margin-top: 3em;
}

.dashboard table {
  border-spacing: 0px;
  display: table;
  box-sizing: border-box;
  border-color: unset;
}

.dashboard__container {
  width: 100em;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.dashboard__container td,
tr,
th,
thead {
  vertical-align: baseline;
  text-align: center;
}

.dashboard__container td,
th {
  padding: 1.2em 0.7em;
  font-size: 15px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.dashboard__title__container {
  padding: 1.5em;
  text-align: left;
}

.dashboard__title {
  margin: 0;
  text-align: left;
  color: #1976d2;
  font-size: 15px;
}

.guide {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 5em;
}

.guide__container {
  width: 100em;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.guide__title__container {
  padding: 1.5em;
  text-align: left;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.guide__title {
  margin: 0;
  color: #1976d2;
  font-size: 15px;
}

.guide__content {
  height: 40em;
  padding: 2em;
}

.guide__input {
  width: 100%;
  font-size: 15px;
  padding: 7px 10px;
  border: 1px solid rgb(0 0 0 / 23%);
}

.guide__input:active {
  border: 1px solid #1976d27d;
}

.guide__input:focus {
  border: 1px solid #1976d27d;
}

.guide__divider {
  display: flex;
  margin: 81px 0 20px 0;
  font-size: 16px;
  white-space: nowrap;
  text-align: center;
  border-top: 0;
}

.guide__divider span {
  display: inline-block;
  padding: 0 1em;
}

.guide__divider::before {
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  content: '';
}

.guide__divider::after {
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  content: '';
}

.guide__selectform {
}

.guide__clearbutton {
  background: rgb(220, 0, 78);
  color: #fff;
  width: 6em;
  height: 3em;
}

.select__container {
  margin: 8px;
  min-width: 120px;
  border: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  flex-direction: column;
  vertical-align: top;
}

.checkboxes__combobox {
  width: 500px;
  box-sizing: inherit;
}

.checkboxes__wrapper {
  width: 100%;
  display: inline-flex;
  position: relative;
  flex-direction: column;
  vertical-align: top;
  font-size: 8px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.87);
}

.checkboxes__label {
  z-index: 1;
  transform: translate(14px, 20px) scale(1);
  pointer-events: none;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  transform-origin: top left;
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 10px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
}

.checkboxes__container {
  padding-right: 65px;
  padding: 9px;
  flex-wrap: wrap;
  width: 100%;
}

.checkboxes__container :hover {
  border-color: #15141494;
}

.MuiInputBase-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
}

.MuiOutlinedInput-root {
  position: relative;
  border-radius: 4px;
}

/* input */
.checkboxes__input {
  padding-left: 6px;
  padding: 9.5px 4px;
  width: 0;
  min-width: 30px;
  opacity: 1;
  flex-grow: 1;
  text-overflow: ellipsis;
}

.MuiInputBase-input {
  font: inherit;
  color: currentColor;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}

.checkboxes__combobox fieldset {
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 8px;
  overflow: hidden;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-radius: inherit;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0.23);
}

.checkboxes__combobox legend {
  width: auto;
  height: 11px;
  display: block;
  padding: 0;
  font-size: 0.75em;
  max-width: 0.01px;
  text-align: left;
  transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  visibility: hidden;
}

.checkboxes__label--focus {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
}
