:root {
  --dropdown-bg-color: grey;
  --text-primary: #1976d2;
  --text-warning: rgb(255 0 0 / 78%);
  --primary: #1976d2;
  --secondary: rgb(220, 0, 78);
  --option-default: #fff;
  --option-hover: #f7f7f7;
  --option-selected: #efefef;
  --dropdown--width: 35em;
  --selected-date-width: 29em;
  --dropdown--height: 4.2em;
  --text-grey: #60666dab;
  --dropdown-list-z-index: 10;
  --border--hover: rgba(0, 0, 0, 0.87);
  --secondary-hover: rgb(228 0 81);
  --primary-hover: #1469bd;
  --font-family-default: Arial, Helvetica, sans-serif;
  --codebox-width: 28%;
  --guide-cotent-width: 72%;
  --border-grey: rgb(224 224 224 / 70%);
}

.global {
  font-family: var(--font-family-default);
  box-sizing: border-box;
  letter-spacing: -0.2px;
}

.global input {
  font-family: var(--font-family-default);
}

.global iframe,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p,
blockquote,
pre,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
figure,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
a,
textarea,
input,
select,
option,
button,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.global,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

button {
  font-style: normal;
  font-feature-settings: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 10px;
}

/* indicator */

.dashboard {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 5em;
  margin-top: 3em;
}

.dashboard table {
  border-spacing: 0px;
  display: table;
  box-sizing: border-box;
  border-color: unset;
}

.dashboard__container {
  width: 100em;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.dashboard__container td,
tr,
th,
thead {
  vertical-align: baseline;
  text-align: center;
}

.dashboard__container td,
th {
  padding: 1.2em 0.7em;
  font-size: 15px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.dashboard__title__container {
  padding: 1.5em;
  text-align: left;
}

.hr-text {
  font-size: 1.7em;
  flex-grow: 1;
  color: var(--text-grey);
  width: 80%;
}

.hr-text--selected {
  width: 80%;
  font-size: 1.7em;
  flex-grow: 1;
  color: #000;
}

.dashboard__title {
  margin: 0;
  text-align: left;
  color: var(--text-primary);
  font-size: 17px;
}

.dashboard__tz-text {
  font-size: 14px;
}

.guide {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 5em;
  margin-top: 5em;
}

.guide__container {
  width: 130em;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.guide__title__container {
  padding: 1.5em;
  text-align: left;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.guide__title {
  margin: 0;
  color: var(--text-primary);
  font-size: 17px;
  text-transform: uppercase;
}

.guide__content {
  display: flex;
  flex-wrap: wrap;
}

.guide__left-content {
  padding: 2em 2em 1em 2em;
  width: var(--guide-cotent-width);
  border-right: 1px solid var(--border-grey);
}

.guide__input__container {
  display: flex;
  justify-content: center;
}

.guide__hr-text__container {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 4em 0;
}

.guide__text-field__label {
  width: 20%;
  font-weight: 550;
  font-size: 1.7em;
  color: #60666dab;
  color: var(--text-grey);
  line-height: 37px;
}

.guide__text-field__label--selected {
  width: 20%;
  font-size: 1.7em;
  font-weight: 550;
  color: #60666dab;
  color: var(--text-primary);
  line-height: 37px;
}

.guide__hr-text__label {
  width: 20%;
  font-weight: 550;
  font-size: 1.7em;
  color: #60666dab;
  color: var(--text-grey);
}

.guide__hr-text__label--selected {
  width: 20%;
  font-weight: 550;
  font-size: 1.7em;
  color: #60666dab;
  color: var(--text-primary);
}

.guide__input {
  font-size: 1.7em;
  flex-grow: 1;
  padding: 10px 11px;
  border: 1px solid rgb(0 0 0 / 23%);
}

.guide__input--selected {
  border: 1px solid var(--primary);
  font-size: 1.7em;
  flex-grow: 1;
  padding: 10px 11px;
}

.guide__divider {
  margin: 10px 0 36px 0;
  top: 50%;
  width: 100%;
  border-top: 1px solid rgb(0 0 0 / 21%);
  transform: translateY(50%);
}

.guide__divider span {
  display: inline-block;
  padding: 0 1em;
}

/* .guide__divider::before {
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  content: '';
}

.guide__divider::after {
  position: relative;

  content: '';
} */

.guide__btn--clear__wrapper {
  display: flex;
  justify-content: flex-start;
}

.guide__btn--clear {
  background-color: #fff;
  color: rgb(255 0 0 / 78%);
  color: var(--text-warning);
  width: 5em;
  height: 30px;
  display: inline-block;
  font-size: 1.5em;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.guide__btn--clear:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.guide__button--store {
  transform: scale(0.8) translate(0px, 7px);
  background: #1976d2;
  background: var(--primary);
  color: #fff;
  margin: 0px 0 0 3px;
  height: 39px;
  padding: 0.5em 1.6em;
  font-size: 1.9em;
  cursor: pointer;
  border-radius: 9px;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.guide__button--store:hover {
  background: var(--primary-hover);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.guide__button--store:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.right-arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(-45deg) translate(-2px, 0px);
  border-radius: 0px;
}

.guide__btn-copy {
  background-color: #fff;
  color: #000;
  margin: 4px 10px;
  width: 5em;
  height: 30px;
  font-size: 1.4em;
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.guide__btn-reset {
  background-color: #fff;
  color: var(--text-warning);
  margin: 4px 10px;
  width: 5em;
  height: 30px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.guide__btn-copy:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.guide__btn-reset:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.codebox__btngroup {
  display: flex;
  justify-content: space-between;
  height: 7%;
  max-height: 50px;
  align-items: flex-end;
}

.dropdown__wrapper {
  width: var(--dropdown--width);
  height: var(--dropdown--height);
  display: inline-block;
  position: relative;
  margin: 0 1.5em 0 0;
}

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.dropdown__current {
  cursor: pointer;
  width: var(--dropdown--width);
  border: 1px solid #00000054;
  border-radius: 5px;
}

.dropdown__current:hover {
  border-color: var(--border--hover);
}

.dropdown__form {
}

.dropdowns__wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.dropdown__container {
  margin-bottom: 7em;
}

.dropdown__container:last-child {
  margin-bottom: 3em;
}

.guide__helper-text-box {
  display: inline-flex;
  height: var(--dropdown--height);
  transform: translateY(-16px);
  align-items: center;
  width: 39px;
}

.guide__helper-text {
  font-size: 18px;
  color: var(--text-grey);
}

.guide__helper-text--selected {
  font-size: 18px;
  color: var(--primary);
}

.dropdown__container:focus-within .guide__helper-text {
  color: #000;
}

.dropdown__container:focus-within .guide__helper-text--selected {
  color: var(--primary);
}

.dropdown__container:focus-within .dropdown__current {
  border: 2px solid var(--primary);
}

.dropdown__list-item {
  display: flex;
  position: relative;
}

.dropdown__list {
  display: none;
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  max-height: 245px;
  overflow: auto;
  z-index: var(--dropdown-list-z-index);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.dropdown__wrapper:focus-within .dropdown__list {
  display: block;
  cursor: pointer;
}

.dropdown:focus-within .dropdown__list {
  display: block;
  cursor: pointer;
}

.dropdown__option {
  padding: 12px 15px;
  font-size: 1.4em;
  flex-grow: 1;
}

.dropdown__option--selected {
  flex-grow: 1;
  font-size: 1.4em;
  padding: 12px 15px;
}

.dropdown__input-wrapper {
  color: rgba(0, 0, 0, 0.87);
  border: none;
  height: 32px;
  display: inline-flex;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;

  white-space: nowrap;
  border-radius: 16px;
  vertical-align: middle;
  justify-content: center;
  background-color: #e0e0e0;
  margin: 3px;
}

.dropdown__input {
  position: absolute;
  top: 0;
  left: 0;
}

.dropdown__option__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--option-default);
  padding: 12px 15px;
  font-size: 1.4em;
}

.dropdown__option__input:hover {
  background-color: var(--option-hover);
}

.dropdown__option__input--selected {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--option-selected);
  font-size: 1.4em;
  padding: 12px 15px;
  cursor: pointer;
}

.dropdown__option__input--selected:hover {
  background-color: var(--option-hover);
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

.checkbox__wrapper {
  padding: 9px;
  position: absolute;
  right: 0;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  flex: 0 0 auto;
  -webkit-tap-highlight-color: transparent;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  vertical-align: middle;
  align-items: center;
  user-select: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
}

.checkbox__wrapper:hover {
  background-color: rgba(220, 0, 78, 0.04);
}

.checkbox {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.5rem;
  text-align: center;
}

.checkbox__checked {
  color: rgb(220, 0, 78);
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
  font-size: 1.5rem;
  text-align: center;
}

.checkbox__input {
  top: 0;
  left: 0;
  width: 100%;
  cursor: inherit;
  height: 100%;
  margin: 0;
  opacity: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
  background-color: initial;
  appearance: checkbox;
  border: initial;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

.checkbox__icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  color: rgba(0, 0, 0, 0.54);
  overflow: hidden;
}

.checkbox__icon__checked {
  color: rgb(220, 0, 78);
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  overflow: hidden;
}

.checkbox__animator {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
}

.checkbox__animator__checked {
  color: rgb(220, 0, 78);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}

.dropdown__close-icon {
  color: rgba(0, 0, 0, 0.26);
  width: 22px;
  cursor: pointer;
  height: 22px;
  margin: 0 5px 0 -6px;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  fill: currentColor;
  white-space: nowrap;
}

.dropdown__close-icon:hover {
  color: rgba(0, 0, 0, 0.4);
}

.dropdown__selected-date {
  display: flex;
  flex-wrap: wrap;
  width: var(--selected-date-width);
  min-height: 40px;
}

.dropdown__selected-date__placeholder {
  display: inline-block;
  padding-left: 24px;
  padding-right: 12px;
  font-size: 1.8em;
  line-height: 2.2em;
  color: var(--text-grey);
}

.dropdown__selected-date__text {
  display: inline-block;
  padding-left: 14px;
  padding-right: 11px;
  font-size: 1.5em;
  line-height: 2.2em;
  color: var(--text-grey);
}

.btn-group {
  right: 9px;
  top: calc(50% - 14px);
  position: absolute;
}

.dropdown:focus .dropdown__arrow-icon {
  transform: rotate(180deg);
}

.btn-group__clear {
  visibility: hidden;
}

.btn-group__clear--active {
  visibility: visible;
  padding: 4px;
  margin-right: -2px;
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  position: relative;
  align-items: center;
  user-select: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
}

.btn-group__clear--active:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}

.MuiSvgIcon-fontSizeSmall {
  font-size: 1.25rem;
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.dropdown__arrow-icon {
  padding: 2px;
  margin-right: -2px;
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  overflow: visible;
  font-size: 1.5rem;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  align-items: center;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.dropdown__arrow-icon:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.dropdown__current:focus-within .dropdown__arrow-icon {
  transform: rotate(180deg);
}

.dropdown__wrapper:focus-within .dropdown__arrow-icon {
  transform: rotate(180deg);
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.MuiTouchRipple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
  font-size: 1.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  -webkit-tap-highlight-color: transparent;
}

.dom-picker__wrapper {
  display: none;
  position: absolute;
  width: 100%;
  padding: 0;
  max-height: 245px;
  height: 245px;
  border: 1px solid lightgrey;
  overflow: hidden;
  padding: 1.2em;
  background: white;
  z-index: 10;
}

.dropdown__wrapper:focus-within .dom-picker__wrapper {
  display: block;
}

.dropdown:focus-within .dom-picker__wrapper {
  display: block;
}

.dom-picker {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.dom-picker__wrapper:focus {
  display: block;
}

.dom-picker__wrapper:hover {
  display: block;
}

.dom-picker__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 43px;
}

.dom-picker__item-label {
  flex-grow: 1;
  background-color: #fff;
  cursor: pointer;
  padding: 0.7em;
  font-size: 1.4em;
  max-width: 3.3em;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
}
.dom-picker__item-label:hover,
.dom-picker__item-label:focus {
  background-color: #f7f7f7;
}

.dom-picker__item-label--selected {
  background-color: #efefef;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
  flex-grow: 1;
  padding: 0.7em;
  font-size: 1.4em;
  max-width: 3.3em;
  text-align: center;
}

.dom-picker__item-label--selected:hover,
.dom-picker__item-label--selected:focus {
  background-color: #f7f7f7;
}

.codebox__container {
  width: var(--codebox-width);
  height: 574px;
}

.codebox {
  width: 100%;
  height: 93%;
  overflow-y: auto;
  background-color: #eff0f1;
  padding: 10px;
  font-size: 1.1em;
  display: inline-block;
  border-bottom: 1px solid var(--border-grey);
}
