.global {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  letter-spacing: -0.2px;
}

/* indicator */

.dashboard {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 5em;
  margin-top: 3em;
}

.dashboard__container {
  border-spacing: 0px;
  display: table;
  box-sizing: border-box;
  border-color: unset;
  width: 100em;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.dashboard__title__container {
  padding: 1.5em;
  text-align: left;
  vertical-align: baseline;
  text-align: center;
}

.dashboard__title__box {
  display: flex;
  justify-content: space-between;
}

.dashboard__title__box span:last-child {
  color: black;
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: 300;
}
.dashboard__title {
  margin: 0;
  text-align: left;
  color: #1976d2;
  font-size: 17px;
  vertical-align: baseline;
  text-align: center;
  padding: 1.2em 0.7em;
  font-size: 15px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.th {
  font-size: 15px;
  vertical-align: baseline;
  text-align: center;
  padding: 1.2em 0.7em;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.dashboard__tz-text {
  font-size: 14px;
}

.td {
  vertical-align: baseline;
  text-align: center;
  padding: 1.2em 0.7em;
  font-size: 15px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.tr {
  vertical-align: baseline;
  text-align: center;
  padding: 1.2em 0.7em;
  font-size: 15px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}
