.ml {
  margin: 4rem;
}

.mm {
  margin: 3rem;
}

.m {
  margin: 1.5rem;
}

.ms {
  margin: 1rem;
}

.mxl {
  margin: 0 4rem;
}

.mxm {
  margin: 0 3rem;
}

.mx {
  margin: 0 1.5rem;
}

.mxs {
  margin: 0 1rem;
}

.myl {
  margin: 4rem 0;
}

.mym {
  margin: 3rem 0;
}

.my {
  margin: 1.5rem 0;
}

.mys {
  margin: 1rem 0;
}

.pl {
  padding: 4rem;
}

.pm {
  padding: 3rem;
}

.p {
  padding: 1.5rem;
}

.ps {
  padding: 1rem;
}

.pxl {
  padding: 0 4rem;
}

.pxm {
  padding: 0 3rem;
}

.px {
  padding: 0 1.5rem;
}

.pxs {
  padding: 0 1rem;
}

.pyl {
  padding: 4rem 0;
}

.pym {
  padding: 3rem 0;
}

.py {
  padding: 1.5rem 0;
}

.pys {
  padding: 1rem 0;
}

.global {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.global iframe,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p,
blockquote,
pre,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
figure,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
a,
textarea,
input,
select,
option,
button,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.global,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

button {
  font-style: normal;
  font-feature-settings: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 10px;
}

.daily-form {
  margin: 0 50px;
}

.daily-form__header {
  background-color: grey;
  padding: 10px;
  text-align: center;
}

.daily-form__radiocontainer {
  display: flex;
  justify-content: center;
  background: #eee;
  padding: 20px;
}

.daily-form__radiobox {
  width: 800px;
  background: grey;
  padding: 20px;
}

.daily-form__radiowrapper {
  display: flex;
  justify-content: center;
}

.daily-form__radio {
  margin: 15px 0;
}

/* The container */
.radio__container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio__container:hover input ~ .radio__checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio__container input:checked ~ .radio__checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio__checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio__container input:checked ~ .radio__checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio__container .radio__checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* indicator */

.dashboard {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 5em;
  margin-top: 3em;
}

.dashboard table {
  border-spacing: 0px;
  display: table;
  box-sizing: border-box;
  border-color: unset;
}

.dashboard__container {
  width: 100em;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.dashboard__container td,
tr,
th,
thead {
  vertical-align: baseline;
  text-align: center;
}

.dashboard__container td,
th {
  padding: 1.2em 0.7em;
  font-size: 15px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.dashboard__title__container {
  padding: 1.5em;
  text-align: left;
}

.dashboard__title {
  margin: 0;
  text-align: left;
  color: #1976d2;
  font-size: 15px;
}

.guide {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 5em;
}

.guide__container {
  width: 100em;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.guide__title__container {
  padding: 1.5em;
  text-align: left;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.guide__title {
  margin: 0;
  color: #1976d2;
  font-size: 15px;
}

.guide__content {
  height: 40em;
  padding: 2em;
}

.guide__input {
  width: 100%;
  font-size: 15px;
  padding: 7px 10px;
  border: 1px solid rgb(0 0 0 / 23%);
}

.guide__input:active {
  border: 1px solid #1976d27d;
}

.guide__input:focus {
  border: 1px solid #1976d27d;
}

.guide__divider {
  display: flex;
  margin: 81px 0 20px 0;
  font-size: 16px;
  white-space: nowrap;
  text-align: center;
  border-top: 0;
}

.guide__divider span {
  display: inline-block;
  padding: 0 1em;
}

.guide__divider::before {
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  content: '';
}

.guide__divider::after {
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  content: '';
}

.guide__selectform {
}

.guide__clearbutton {
  background: rgb(220, 0, 78);
  color: #fff;
  width: 6em;
  height: 3em;
}

.select-box {
  position: relative;
  display: block;
  width: 13em;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial',
    sans-serif;
  font-size: 18px;
  color: #60666d;
}
@media (min-width: 768px) {
  .select-box {
    width: 13em;
  }
}
@media (min-width: 992px) {
  .select-box {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .select-box {
    width: 13em;
  }
}
.select-box__current {
  position: relative;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  padding: 15px;
}
.select-box__list {
  display: none;
  -webkit-animation-name: none;
  animation-name: none;
}

.select-box__list-item {
  display: flex;
}


.select-box__list .select-box__option {
  cursor: pointer;
}

.select-box__option {
  display: block;
  padding: 12px 15px;
  flex-grow: 1;
  background-color: #fff;
}
.select-box__option:hover,
.select-box__option:focus {
  color: #546c84;
    background-color: #f7f7f7;
}

.select-box__option--selected {
background-color: #efefef;
flex-grow: 1;
display: block;
padding: 12px 15px;
cursor: pointer;
}

.select-box__option--selected:hover,
.select-box__option--selected:focus {
    background-color: #f7f7f7;
  color: #546c84;
  }


.select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.select-box__current:focus + .select-box__list {
  display: block;
  -webkit-animation-name: none;
  animation-name: none;
}

.select-box__list:focus {
  display: block;
  -webkit-animation-name: none;
  animation-name: none;
}

.select-box__list:hover {
  display: block;
  -webkit-animation-name: none;
  animation-name: none;
}



.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.select-box__value {
  display: -webkit-box;
  display: flex;
}

.select-box__input-wrapper {
  color: rgba(0, 0, 0, 0.87);

  border: none;
  height: 32px;
  display: inline-flex;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  white-space: nowrap;
  border-radius: 16px;
  vertical-align: middle;
  justify-content: center;
  background-color: #e0e0e0;
  margin: 3px;
}


.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  max-height: 245px;
  overflow: auto;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}


@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}



.checkbox__wrapper {
  padding: 9px;
  position: absolute;
  right: 0;
  overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    flex: 0 0 auto;
    -webkit-tap-highlight-color: transparent;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    vertical-align: middle;
    align-items: center;
    user-select: none;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
}

.checkbox__wrapper:hover {
  background-color: rgba(220, 0, 78, 0.04);
}

.checkbox {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.5rem;
  text-align: center;
}


.checkbox__checked {
  color: rgb(220, 0, 78);
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
  font-size: 1.5rem;
  text-align: center;
}


.checkbox__input {
  top: 0;
  left: 0;
  width: 100%;
  cursor: inherit;
  height: 100%;
  margin: 0;
  opacity: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
  background-color: initial;
  appearance: checkbox;
  border: initial;
  -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}




.checkbox__icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  color: rgba(0, 0, 0, 0.54);
  overflow: hidden;
}

.checkbox__icon__checked {
  color: rgb(220, 0, 78);
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  overflow: hidden;

}

.checkbox__animator {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
}

.checkbox__animator__checked {
  color: rgb(220, 0, 78);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}


.select-box__close-icon {
  color: rgba(0, 0, 0, 0.26);
  width: 22px;
  cursor: pointer;
  height: 22px;
  margin: 0 5px 0 -6px;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  fill: currentColor;
    white-space: nowrap;
}

.select-box__close-icon:hover {
  color: rgba(0, 0, 0, 0.4);
}


.select-box__selected-date__text {
  display: inline-block;
  overflow: hidden;
  margin: 0 3px;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
  text-overflow: ellipsis;
}

.MuiAutocomplete-inputRoot {
  right: 9px;
  top: calc(50% - 14px);
  position: absolute;
}

/* .MuiAutocomplete-inputRoot:focus .select-box__arrow-icon {
  transform: rotate(180deg);
} */

.select-box:focus .select-box__arrow-icon {
  transform: rotate(180deg);
}

.MuiAutocomplete-clearIndicator {
  padding: 4px;
  visibility: hidden;
  margin-right: -2px;
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  position: relative;
  align-items: center;
  user-select: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
}

.MuiAutocomplete-clearIndicator--active {
  visibility: visible;
  padding: 4px;
  margin-right: -2px;
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  position: relative;
  align-items: center;
  user-select: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
}

.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}

.MuiSvgIcon-fontSizeSmall {
  font-size: 1.25rem;
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}


.select-box__arrow-icon {
  padding: 2px;
  margin-right: -2px;
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  order: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.select-box__arrow-icon:hover {
  background-color: rgba(0, 0, 0, 0.04)
}

.select-box__current:focus .select-box__arrow-icon {
  transform: rotate(180deg);
}


.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.MuiTouchRipple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
  font-size: 1.5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    -webkit-tap-highlight-color: transparent;
}